{% extends 'base.html' %} {% load static %} 
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
        {% if items %}
                {% for item in items%}
                    <div class="col-md">
                        <img src = "{{item.image.url}}" width="200px" height="auto" alt = "Zdjecie"></img>
                        <p>{{item.name}}</p>
                        <p>Cena: {{item.price|floatformat:2}}</p>
                        <a role="button" class="btn btn-primary" href="{% url 'listings:listing' item.id %}">Szczegoly</a>
                    </div>
                {% endfor%}
        {% else %}
            <h1>Nie ma wynikow</h1>
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}
