{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Great Shopping experience</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/css.css' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="{% url 'listings:index' %}"><img src="{% static 'img/logo.png' %}" width="107" height="54" alt=""
                                                  class="navbar-brand" href="{% url 'listings:index' %}"/></a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mr-5" aria-current="page" href="{% url 'listings:index' %}">Home</a>
                <form class="d-flex dropdown" action="{% url 'listings:search_results' %}" method="get"
                      autocomplete="off">
                    {% csrf_token %}
                    <input class="form-control me-2 dropdown-toggle" type="text" id="quicksearch" placeholder="Search"
                           aria-label="Search" name="q" data-bs-toggle="dropdown" aria-expanded="false"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><p class="dropdown-item disabled">Ostatnio wyszukiwane</p></li>
                        {% for search in request.session.lastSearch %}
                            <li><a class="dropdown-item"
                                   href=" {% url 'listings:search_results' %}?q={{ search }} ">{{ search }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
        {% if not user.is_authenticated %}
            <a class="nav-link active mr-5 btn- ms-auto" href="{% url 'accounts:login' %}">Log In</a>
        {% else %}
            <a class="nav-link mr-5 ms-auto" href="{% url 'accounts:acc_info' %}">{{ user.username }}</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% block content %} {% endblock %}
<footer class="text-center bg-light container-">
    <p>Prawa reserved</p>
</footer>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/quicksearch.js' %}"></script>
</body>
</html>
